 @media only screen and (min-width:200px) and (max-width:575px) {
    header {
       flex-direction: column;
       align-items: stretch;
       padding: 10px;
       gap: 15px;
    }

    headerLeft {
       justify-content: center;
    }

    .logo {
       padding: 10px;
    }

    .headerAddress {
       padding: 10px;
    }

    .headerAddress p {
       font-size: 12px;
    }

    .headerAddress h3 {
       font-size: 15px;
    }

    .searchBox button {
       padding: 10px;
    }

    .headerBtn {
       position: fixed;
       width: 100%;
       background-color: white;
       margin-right: 0px;
       justify-content: center;
       bottom: 0px;
    }

    .bannersection {
       display: none;
    }

    .orderbanner {
       padding: 10px;
       flex-direction: column;
    }

    .categoryitem {
       flex-basis: 25%;
    }

    /* .productrow{
        padding: 0px 10px;
     } */
    .productsection {
       padding: 30px 10px;
    }

    .productitem {
       flex-basis: 49%;
    }

    footer {
       padding: 0px;
    }

    .footer-mid-row1 {
       padding: 10px;
       flex-direction: column;
    }

    .footer-mid-row3 {
       padding: 0px 10px;
    }

    .footer-mid-row2 {
       flex-direction: column;
       gap: 20px;
    }
 }