* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}

header {
    display: flex;
    align-items: center;
    gap: 40px;
    /* border-top: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
}

.headerLeft {
    display: flex;
    align-items: center;

}

.logo {
    padding: 24px 30px;
    /* border-right: 1px solid #ccc; */
}

.hederAddress {
    padding: 20px 30px;
}

.hederAddress h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.hederAddress p {
    font-size: 14px;
    margin-left: 5px;

}

.searchBox {
    flex-grow: 1;
    background-color: #f8f8f8;
    display: flex;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
}

.searchBox button {
    padding: 15px;
    border: none;
    background-color: transparent;
}

.searchBox input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
}

.searchBox input:focus {
    outline: none;
}

.headerBtn {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.headerBtn button {
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
}

.headerBtn button:last-child {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(12, 131, 31);
}

.bannersection {
    margin: 0px auto;
    max-width: 1280px;
}

.bannersection img {
    width: 100%;
}

.orderbanner {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.orderbanneritems {
    flex-basis: 28%;
    margin: 1%;
}

.orderbanneritems img {
    width: 100%;
}

.categorysection {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.categoryitem {
    flex-basis: 10%;
}

.categoryitem img {
    width: 100%;
}

.productsection {
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px 0px 0px;
}

.headingrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headingrow h2 {
    font-size: 22px;
}

.headingrow a {
    color: #328839;
    font-size: 18px;
}

.productrow {
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.productitem {
    flex-basis: 15%;
    box-shadow: 0px 0px 10px 2px #cfcfcf;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.productimg {
    text-align: center;
    padding: 15px;
}

.productimg p {
    background-color: #f8f8f8;
    display: flex;
    width: 60px;
    gap: 5px;
    padding: 2px;
    width: 80px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: left;
}

.productcontent {
    padding: 15px;
    padding-top: 0px;
}

.productcontent h3 {
    margin-bottom: 15px;
    font-size: 14px;
}

.productcontent p {
    font-size: 14px;
    color: #848080;
}

.btn-price-outer {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.btn-price-outer button {
    border: 1px solid #328839;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #f7fff9;
}

footer {
    padding: 40px 0px 0px 0px;
}

.footer-mid {
    max-width: 1280px;
    margin: auto;
}

.footer-mid-row1 {
    width: 100%;
    display: flex;
    gap: 40px;
}

.footer-mid-row1-left {
    flex-basis: 30%;

}

.footer-mid-row1-left h3 {
    margin-bottom: 20px;
}

.footer-mid-row1-left {
    margin-bottom: 20px;
}

.usefulLinks {
    display: flex;
}

.usefulLinks ul {
    flex-basis: 33%;
    list-style: none;
}

.usefulLinks ul li a {
    font-size: 14px;
    display: block;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
}

.footer-mid-row1-right {
    flex-basis: 70%;
}

.Categoriesheadingrow {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    align-items: center;
}

.footer-mid-row3 p {
    padding: 20px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(102, 102, 102);
}

.footer-mid-row2 {
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.footer-mid-row2 p {
    flex-basis: 40%;
    font-size: 14px;
    text-align: center;
}

.appicons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;
}

.slinks {
    display: flex;
    gap: 20px;
}

.slinks i {
    width: 40px;
    color: white;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}