@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallup.net/wp-content/uploads/2018/09/27/220941-blue-clouds-gray-fibers.jpg');
    /* background: linear-gradient(45deg, #0a0a0a, #3a4452); */
}

.calculator {
    border: 1px solid #717377;
    padding: 20px;
    /* margin-top: 30px; */
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: none;
    width: 60px;
    height: 50px;
    margin: 10px;
    /* margin: 5px; */
    border-radius: 50%;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.jaat {
    background-color: #fb7c14;
}

.jaat1 {
    color: #6dee0a;
}
